{
 :paths ["src"]
 :deps {
        org.clojure/clojure { :mvn/version "1.12.4" }
        org.clojure/tools.cli { :mvn/version "1.1.230"}
        org.clojure/core.async { :mvn/version "1.8.741" }
        com.taoensso/timbre {:mvn/version "6.6.1"}

        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        }
 :aliases {
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                               cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                           :git/tag "v0.5.0"
                                                           :git/sha "b3fd0d2"}}
                  :exec-fn cognitect.test-runner.api/test
                  :exec-args {:dirs ["test"]}}
           }
 }
